stages:
  - build
docker-build:
  stage: build
  #image: reg.ag.ch/base-images/docker-deployer
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - mkdir -p ./instance
    - touch ./instance/config.py
    - echo $CONFIG_DEV > ./instance/config.py
    - docker build --pull -t "$CI_REGISTRY_IMAGE:latest" -f Dockerfile .
    - docker push "$CI_REGISTRY_IMAGE:latest"
  #rules:
  #  - if: $CI_COMMIT_TAG